@charset "utf-8";

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

h1 {
    font-family: 'Cabin Sketch', cursive;
    margin: 15vh 0 0 0;
    text-align: center;
    font-size: 50px;
    color: #042d70;
}

#toggle {
    display: inline-flex;
    align-items: center;
    position: fixed;
    left: 18px;
    top: 18px;
    z-index: 100;
    width: 28px;
    height: 30px;
    padding: 0;
    border: 0;
}

#toggle span:after,
#toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
}

#toggle span:after {
    top: 9px;
}

#toggle span {
    position: relative;
    display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
    width: 100%;
    height: 4px;
    background-color: #888;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
}

/* on activation */
#toggle.on span {
    background-color: transparent;
}

#toggle.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
}

#toggle.on+#menu {
    opacity: 1;
    visibility: visible;
}

#menu {
    position: fixed;
    width: 200px;
    left: 21px;
    top: 60px;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: .2s;
}

#menu:after {
    position: absolute;
    top: -15px;
    left: 95px;
    content: "";
    display: block;
}

ul,
li,
li a {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}

li a {
    padding: 5px;
    color: #888;
    text-decoration: none;
    transition: all .2s;
}

li a:hover,
li a:focus {
    background: rgba(125, 68, 70, 0.5);
    color: #fff;
}