/* progress-bar */
#progress-bar-con {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 7px;
    background: #555555;
    z-index: 1;
}

.progress-bar {
    width: 0%;
    height: 100%;
    background: #ab96b3;
}

@media screen and (min-width: 700px) {
    .title {
        font-size: 4rem;
        line-height: 1;
    }

    .title-description {
        font-size: 1.14rem;
        line-height: 1.5;
    }

    .title-medium {
        font-size: 4rem;
        line-height: 1;
    }
}