/* progress-bar */
#progress-bar-con {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 5px;
    background: #555555;
    z-index: 1;
}

.progress-bar {
    width: 0%;
    height: 100%;
    background: rgb(159, 109, 182);
}